body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #222831;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #31363F;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 600px;
}

h1 {
    text-align: center;
    background: -webkit-linear-gradient(45deg, hsla(120, 6%, 90%, 1) 0%, rgb(75, 91, 158) 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    color: #fff;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"] {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

button {
    background: #76ABAE;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
}

button:hover {
    color: black;
    background: #EEEEEE;
}

#result {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hidden {
    display: none;
}

textarea {
    width: 100%;
    height: 300px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    resize: none;
    margin-bottom: 10px;
}

#copyButton {
    background: #76ABAE;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
}

#copyButton:hover {
    color: black;
    background: #EEEEEE;
}
